name: "TODO to Issue"

on:
  push:
  workflow_dispatch:

jobs:
  todo_to_issue:
    runs-on: "ubuntu-latest"
    permissions:
      issues: write
    steps:
      - uses: "actions/checkout@v6"
      - name: "TODO to Issue"
        uses: "alstr/todo-to-issue-action@v5"
        with:
          IDENTIFIERS: '[{"name":"TODO","labels":["todo"]},{"name":"BUG","labels":["bug"]},{"name":"CHORE","labels":["chore"]},{"name":"DOCS","labels":["documentation"]},{"name":"TEST","labels":["test"]},{"name":"PERF","labels":["performance"]},{"name":"A11Y","labels":["accessibility"]},{"name":"SEC","labels":["security"]},{"name":"REFACTOR","labels":["refactor"]}]'
          IGNORE: 'node_modules|dist|build|coverage|_site|\.cache'
